force-app/main/default/flows/toggleFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Create_fav_record</name>
        <label>Is red selected?</label>
        <locationX>159</locationX>
        <locationY>131</locationY>
        <defaultConnector>
            <targetReference>Is_green_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Red_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RedSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateRedFav</targetReference>
            </connector>
            <label>Red selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_blue_selected</name>
        <label>Is blue selected</label>
        <locationX>561</locationX>
        <locationY>514</locationY>
        <defaultConnector>
            <targetReference>finish</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Blue_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BlueSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Favored_Blue</targetReference>
            </connector>
            <label>Blue selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_green_selected</name>
        <label>Is green selected</label>
        <locationX>354</locationX>
        <locationY>328</locationY>
        <defaultConnector>
            <targetReference>Is_blue_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>green_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GreenSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Favored_Green</targetReference>
            </connector>
            <label>Green selected</label>
        </rules>
    </decisions>
    <description>selected colors done, new screen name</description>
    <interviewLabel>toggleFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>toggleFlow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateRedFav</name>
        <label>Favored Re</label>
        <locationX>157</locationX>
        <locationY>251</locationY>
        <connector>
            <targetReference>Is_green_selected</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>inputAcct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Favorite__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Red</stringValue>
            </value>
        </inputAssignments>
        <object>Color__c</object>
    </recordCreates>
    <recordCreates>
        <name>Favored_Blue</name>
        <label>Favored Blue</label>
        <locationX>560</locationX>
        <locationY>614</locationY>
        <connector>
            <targetReference>finish</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>inputAcct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Favorite__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Blue</stringValue>
            </value>
        </inputAssignments>
        <object>Color__c</object>
    </recordCreates>
    <recordCreates>
        <name>Favored_Green</name>
        <label>Favored Green</label>
        <locationX>354</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Is_blue_selected</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>inputAcct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Favorite__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Green</stringValue>
            </value>
        </inputAssignments>
        <object>Color__c</object>
    </recordCreates>
    <screens>
        <name>finish</name>
        <label>finish</label>
        <locationX>761</locationX>
        <locationY>721</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>done</name>
            <fieldText>All done!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_selected</name>
        <label>Not selected</label>
        <locationX>905</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Notselected</name>
            <fieldText>No record created</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>toggleFlow</name>
        <label>Select your colors</label>
        <locationX>34</locationX>
        <locationY>26</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_fav_record</targetReference>
        </connector>
        <fields>
            <name>togglebutton</name>
            <extensionName>c:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Color Selector</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>RedSelected</assignToReference>
                <name>selection</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>BlueSelected</assignToReference>
                <name>selectionBlue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>GreenSelected</assignToReference>
                <name>selectionGreen</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>toggleFlow</startElementReference>
    <status>Active</status>
    <variables>
        <name>BlueSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GreenSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputAcct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>selected red as fav color</description>
        <name>RedSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
